html {
  box-sizing: border-box;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #94b2c7;
  height: 100vh;
}

.about {
  color: white;
  font-size: 1.2rem;
  padding: 4rem;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* header & navbar*/

.header-wrap {
  /* background-color: #d79184; */
  background-color: #729481;
}

header {
  max-width: 1300px;
  padding: 1rem;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-data {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
}

.card-data span {
  margin: 5px;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-between;
  align-items: center;
}

nav li {
  flex-basis: 48%;
  margin-bottom: 0.5rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav li:first-child a {
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: "Oxygen Mono";
}

nav li a h1 {
  font-weight: normal;
  margin: 0 1rem;
  font-size: 2.5rem;
}

nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  display: block;
  padding: 0.5rem;
  text-align: center;
  background-color: #d6bb94;
  border-radius: 5px;
}

nav a:hover {
  background-color: #b19164;
}

#collection-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-between;
}

.card {
  flex-basis: 48%;
  margin-bottom: 0.8rem;
  /* background-color: #c39791; */
  background-color: #729481;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.loader-div {
  margin: 0 auto;
}

.card-img img {
  max-height: 400px;
  width: 100%;
  flex-basis: 100%;
}

.card-body {
  display: grid;
  grid-row-gap: 2px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3.5rem;
  padding: 2.5rem 2rem;
  color: white;
  align-items: center;
}

.card-body h3 {
  margin: 0 10px 10px 10px;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  grid-column: 1 / -1;
  margin-left: 0;
}

.card-footer {
  /* background-color: #bc918a; */
  background-color: #5f7a6b;
  padding: 2rem 2.5rem;
  font-size: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.7rem;
  row-gap: 0.7rem;
  margin-top: auto;
}

.card-footer-value {
  font-weight: 700;
  color: white;
}

.card-footer-text {
  color: white;
  margin: 5px;
}

.card-dog-availability {
  grid-row: 2/3;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: white;
}

/* CSS */
.primary-button {
  justify-self: self-end;
  background-color: #5e8cad;
  border: 1px solid white;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  touch-action: manipulation;
  grid-row: 1/3;
  width: fit-content;
  /* max-height: 50px; */
  grid-row: 1/3;
  justify-self: end;
  align-self: center;
}

.button-advert .primary-button {
  padding-left: 3rem;
  padding-right: 3rem;
}

.primary-button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 5rem;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.primary-button:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

.card-dog-btn {
  grid-row: 1/3;
  justify-self: end;
  align-self: center;
}

/* mission styles */
#mission {
  margin-bottom: 3rem;
  color: whitesmoke;
}

.missiontext {
  display: block;
  line-height: 1.7;
  font-size: 1.2rem;
}

.missionimg {
  max-height: 150px;
  display: block;
}

section {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

.primary-button {
  padding: 12px 38px;
}

#mission h2 {
  margin: 20px 0;
}

/* Filter bar */

.filter-wrapper {
  justify-content: center;
  background-color: #729481;
  border-radius: 1rem;
  max-width: 1265px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem auto;
  padding: 1.5rem;
  gap: 1rem;
  align-items: end;
  justify-content: center;
}

.filter-wrapper .react-select {
  font-size: 1rem;
}

.filter-wrapper h3 {
  color: white;
  margin-bottom: 10px;
}

.applyFilters-wrapper button {
  height: 40px;
  padding: 0 30px;
  font-size: 1rem;
}

.login-form {
  display: flex;
  margin: 0 auto;
  flex-flow: column wrap;
  background-color: #729481;
  color: white;
  padding: 3rem;
  border-radius: 20px;
  align-self: center;
}

.login-form-wrapper {
  margin: 50px 0;
  display: flex;
  height: 65%;
}

.login-form-div {
  padding: 1rem 1.5rem;
}

.login-form-div input {
  background-color: #f0ecec;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 1.3rem;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.login-input-wrapper input:focus {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.login-form-div button {
  background-color: #f0ecec;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  width: 100%;
  margin-top: 10px;
}

.login-form-div button:hover {
  background-color: #5e8cad;
  color: white;
  border: 1px solid black;
}

.login-form-wrapper h2 {
  font-size: 2.3rem;
  font-weight: 700;
  text-decoration-line: underline;
}

.login-form-div p {
  color: rgb(174, 6, 6);
  margin-top: 3px;
}

.login-form-div .sign-up-paragraph {
  color: white;
  font-size: 1.2rem;
}

.sign-up-link {
  text-decoration: underline;
  color: #7d3c98;
}

.sign-up-link:visited {
  color: #7d3c98;
}

.details-section h1,
.details-section h3,
.write-review-header,
.no-results {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 0.5em;
  text-shadow: 1px 1px #fff;
  font-family: "Oxygen Mono";
}

.details-section h3 {
  font-size: 2.5rem;
}

.details-pictures {
  display: flex;
  flex-flow: row nowrap;
}

.details-img-container {
  margin: 1rem;
  border: 7px solid #729481;
}

.details-pictures img {
  width: 100%;
  height: 100%;
}

.details-information-wrapper {
  max-width: 100%;
  color: white;
  margin: 0 auto;
}

.details-bio {
  width: fit-content;
  font-size: 1rem;
  margin: 0 auto;
  line-height: 2rem;
  flex-flow: row wrap;
}

.details-title-profile {
  padding-top: 2rem;
}

.details-profile {
  flex-basis: 48%;
}

.details-information {
  max-width: none;
  background-color: #729481;
}

.details-section-div {
  max-width: 100%;
  margin: 0 auto;
}

.details-summary {
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 1300px;
  color: White;
  margin: 2rem auto;
  margin-top: 1rem;
}

.details-summary p {
  font-size: 1rem;
  line-height: 2.2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.details-bio div {
  display: block;
  margin: 2rem;
}

.details-bio span {
  font-weight: bold;
}

#map {
  height: 500px;
  width: 65%;
  margin: 0 auto;
  border: 7px solid #729481;
  border-radius: 10px;
}

.details-map {
  max-width: 100%;
}

.details-reviews {
  background-color: #729481;
  max-width: 100%;
  max-height: max-content;
  padding-bottom: 1rem;
}

.reviews-wrapper {
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3.3%;
}

.review-author {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.review {
  background-color: whitesmoke;
  display: flex;
  flex-basis: 30%;
  padding: 3rem;
  padding-bottom: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.review-text {
  font-weight: 350;
}

.rating-wrapper {
  padding-top: 1rem;
  margin-top: auto;
}

.advert h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
}

.advert {
  color: #fff;
  margin: 3rem auto;
  display: flex;
  border-radius: 1rem;
  max-width: 80%;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
}

.call-to-action p {
  font-weight: 300;
}

.advert {
  display: block;
}

.primary-button {
  margin-top: 1.5rem;
}

/* Foter */
.footer-wrapper {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.footer-section {
  margin-top: 1rem;
}

.footer-title h4 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1.75rem;
}

.footer-contact {
  font-size: 1rem;
}

.footer-contact:first-child {
  padding-bottom: 1rem;
}

.footer-contact span {
  margin-bottom: 1rem;
  display: block;
}

footer {
  background-color: #729481;
  margin-top: auto;
}

.footer-social {
  margin-bottom: 1rem;
}

.card-section {
  margin-bottom: 2.5rem;
}

.checkout-img {
  max-height: 14rem;
  border-radius: 1rem;
  border: 4px solid #5f7a6b;
}

.checkout-product {
  background-color: #729481;
  border-radius: 1rem;
  padding: 2rem 4.5rem;
  margin: 5rem;
}

.checkout-product h3 {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  font-family: "Oxygen Mono";
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.checkout-card p {
  margin: 1rem 0 0.5rem 0;
  color: white;
}

.checkout-btn-wrapper {
  text-align: center;
}

.confirmation-section {
  text-align: center;
  margin-top: 5rem;
  color: white;
}

.confirmation-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.confirmation-section p {
  font-size: 1.2rem;
}

.details-link-wrapper {
  display: flex;
}

.all-reviews-link {
  margin: 0 auto;
  padding-bottom: 1rem;
  color: white;
}

.reviews-outer-wrapper {
  margin-top: 4rem;
}

.order-dog-avatar {
  max-height: 10rem;
  border-radius: 1rem;
}

.order-wrapper {
  max-width: 475px;
  border-radius: 1rem;
  display: flex;
  flex-flow: row wrap;
  margin: 0.5rem 0.5rem;
  padding: 1.5rem;
  background-color: #729481;
}

.order-details p {
  text-transform: uppercase;
  padding: 0.6rem;
  margin-left: 0.2rem;
  display: block;
  color: white;
}

.order-details span {
  font-weight: 600;
}

.orders-title {
  color: white;
  text-align: center;
  margin: 1rem;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.order-section {
  margin-bottom: 1rem;
}

.orders-outer-div {
  display: block;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.place-review {
  flex-basis: 100%;
}

textarea {
  display: block;
  padding: 2rem;
  border: 2px solid #729481;
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 3rem auto;
  margin-bottom: 2rem;
  max-height: 15rem;
  width: 40rem;

  resize: vertical;
  letter-spacing: 0.15rem;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 1.5rem #729481;
}

.write-review-section {
  text-align: center;
  color: white;
}

.submit-review-btn {
  background-color: #729481;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 2rem;
}

.order-textarea-wrapper {
  display: flex;
  gap: 1rem;
}

.write-review-header {
  font-size: 2.4rem;
  font-weight: 500;
}

.rating-dropdown {
  width: 25%;
  margin: 0 auto;
  text-align: start;
  padding-top: 1rem;
}

.pagination-wrapper {
  background-color: #729481;
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.pagination-wrapper a {
  width: 3rem;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.3s linear;
}

.pagination-wrapper a:hover {
  color: #fff;
}

.fas {
  width: 2.5rem;
}

.fas img {
  margin-top: 0.45rem;
}

.fas:hover {
  transition: 0.3s linear;
  filter: hue-rotate(180deg) invert(1);
}

.card:only-child {
  flex-basis: 100%;
}

.errorBoundary-section {
  font-size: 1.5rem;
  margin-top: 15rem;
}

/* ----------------------------------TABLET---------------------------*/

@media (min-width: 550px) {
  #collection-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1%;
  }

  .details-bio {
    display: flex;
  }

  .details-bio div {
    display: inline;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .card {
    flex-basis: 49.5%;
  }

  .card-img img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }

  .card:hover {
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
  }

  header {
    padding: 2rem;
  }
  /* navigation: logo on the top line, the rest of the navigation on the second line */
  nav ul {
    justify-content: center;
    gap: 1.2em;
  }
  nav li {
    flex-basis: auto;
    margin-bottom: 0;
  }
  nav a {
    color: white;
    background-color: transparent;
    padding: 0;
  }
  nav a:hover {
    color: lightgray;
    background-color: transparent;
  }

  .missiontext {
    display: flow-root;
    max-width: 900px;
  }

  .missionimg {
    float: left;
    shape-outside: polygon(
      35.84% 94.87%,
      34.64% 87.05%,
      51.64% 4.06%,
      55.1% 2.38%
    );
    max-height: 211px;
  }

  .filter-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 695px) {
  .filter-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* -----------------------DESKTOP-----------------------------*/

@media (min-width: 800px) {
  .card {
    flex-basis: 32.5%;
  }

  .orders-outer-div {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
  }

  .order-textarea-wrapper {
    flex-basis: 39%;
  }

  nav ul {
    justify-content: flex-end;
  }
  nav li:first-child {
    flex-basis: auto;
    margin-right: auto;
  }

  nav li:last-child {
    margin-left: 4rem;
  }

  .details-summary p {
    font-size: 1rem;
    line-height: 2rem;
    padding-bottom: 2rem;
  }

  .details-bio {
    width: fit-content;
    font-size: 1rem;
    line-height: 2rem;
  }
}

@media (min-width: 1300px) {
  .details-summary p {
    font-size: 1.1rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
  }

  .details-bio {
    width: fit-content;
    font-size: 1rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1220px) {
  .advert {
    display: flex;
  }
}

@media (max-width: 690px) {
  textarea {
    width: 30rem;
  }
}

@media (max-width: 530px) {
  textarea {
    width: 20rem;
  }
}
